<a href="https://colab.research.google.com/github/Shambhaviiiit/judiciary_data_analysis/blob/main/Precog_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
import numpy as np

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:
cases_2010 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2010.csv', assume_missing = True, parse_dates = [ 'date_of_filing'])
cases_2011 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2011.csv', assume_missing = True, parse_dates = [ 'date_of_filing'])
cases_2012 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2012.csv', assume_missing = True, parse_dates = [ 'date_of_filing'])
cases_2013 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2013.csv', assume_missing = True, parse_dates = [ 'date_of_filing'])
cases_2014 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2014.csv', assume_missing = True, parse_dates = [ 'date_of_filing'])
cases_2015 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2015.csv', assume_missing = True, parse_dates = [ 'date_of_filing'])

In [ ]:
pn_key = dd.read_csv('/content/drive/MyDrive/precog/keys/keys/purpose_name_key.csv')
dn_key = dd.read_csv('/content/drive/MyDrive/precog/keys/keys/disp_name_key.csv')
tn_key = dd.read_csv('/content/drive/MyDrive/precog/keys/keys/type_name_key.csv')

# Purpose vs Dispute Type
Model to determine dispute name from purpose name.

In [ ]:
p_no = pn_key['purpose_name']
p_name = pn_key['purpose_name_s']
d_no = dn_key['disp_name']
d_name = dn_key['disp_name_s']
t_no = tn_key['type_name']
t_name = tn_key['type_name_s']

p = cases_2010['purpose_name']
d = cases_2010['disp_name']
# p.set_index('purpose_name')

In [ ]:
p.head()

0    5228.0
1    3627.0
2    3627.0
3    3627.0
4    3627.0
Name: purpose_name, dtype: float64

In [ ]:
train, test, train_labels, test_labels = train_test_split(p_name, d_name, test_size=0.33, random_state=42)

ValueError: ignored

In [ ]:
train, test, train_labels, test_labels = train_test_split(cases_2010['purpose_name'], cases_2010['disp_name'], test_size=0.33, random_state=42)

KeyError: ignored

# Type vs Dispute
Model to determine Dispute from Type of case.

In [ ]:
# d_name = dn_key['disp_name_s']
t = tn_key['type_name']

# Purpose vs dispute type

In [ ]:
p = cases_2010['purpose_name']
# p.set_index('purpose_name')
p.head(10)

0    5228.0
1    3627.0
2    3627.0
3    3627.0
4    3627.0
5     509.0
6    2237.0
7    3627.0
8    2237.0
9    2237.0
Name: purpose_name, dtype: float64

In [ ]:
d = cases_2010['disp_name']
d.set_index('disp_name')
d.head(10)

AttributeError: ignored

# Purpose, Type => Dispute
Using Gaussian Naive Bayes

In [ ]:
cases_2010.dropna().compute()

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-200308002162010,2010.0,1.0,1.0,1.0,MHNB030013812010,chief judicial magistrate,0 male,1 female,0.0,-9998.0,790.0,5228.0,42.0,2010-12-13,2011-06-19,2011-06-08,2011-06-20,2011-06-24
1,01-01-01-200707000172010,2010.0,1.0,1.0,1.0,MHNB030004552010,chief judicial magistrate,-9998 unclear,1 female,-9999.0,0.0,2587.0,3627.0,42.0,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
2,01-01-01-200707000182010,2010.0,1.0,1.0,1.0,MHNB030004562010,chief judicial magistrate,-9998 unclear,-9998 unclear,-9999.0,0.0,2587.0,3627.0,42.0,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
3,01-01-01-200707000192010,2010.0,1.0,1.0,1.0,MHNB030004582010,chief judicial magistrate,-9998 unclear,1 female,-9999.0,0.0,2587.0,3627.0,42.0,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
4,01-01-01-200707000202010,2010.0,1.0,1.0,1.0,MHNB030004592010,chief judicial magistrate,-9998 unclear,-9998 unclear,-9999.0,0.0,2587.0,3627.0,42.0,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323509,32-01-01-211900000022010,2010.0,32.0,1.0,1.0,UTDN010005962010,principal district and sessions court,-9998 unclear,1 female,-9999.0,1.0,4684.0,3280.0,30.0,2010-06-07,2010-07-12,2010-07-12,2010-07-12,2010-07-12
323510,32-01-01-212400000102010,2010.0,32.0,1.0,1.0,UTDN010000012010,principal district and sessions court,1 female,-9998 unclear,0.0,-9998.0,509.0,3348.0,42.0,2010-02-25,2013-12-22,2012-01-19,2013-12-12,2013-12-22
323511,32-01-01-212500000012010,2010.0,32.0,1.0,1.0,UTDN010006212010,principal district and sessions court,-9998 unclear,1 female,-9999.0,0.0,3214.0,3348.0,42.0,2010-11-29,2013-04-21,2012-07-13,2013-03-15,2013-04-21
323512,32-01-01-212600000012010,2010.0,32.0,1.0,1.0,UTDN010006032010,principal district and sessions court,-9998 unclear,-9998 unclear,0.0,0.0,2399.0,3280.0,20.0,2010-12-01,2019-11-30,2011-04-01,2019-11-30,2019-11-30
323513,32-01-01-213000000802010,2010.0,32.0,1.0,1.0,UTDN010006312010,principal district and sessions court,1 female,-9998 unclear,-9999.0,0.0,4401.0,3734.0,22.0,2010-03-02,2017-01-07,2013-01-16,2017-01-07,2017-01-07

In [ ]:
type(cases_2010)

dask.dataframe.core.DataFrame

In [ ]:
X = cases_2010[['purpose_name', 'type_name']]
y = cases_2010[['disp_name']]

In [ ]:
X.replace([np.inf, -np.inf], np.nan)
y.replace([np.inf, -np.inf], np.nan)

Dask DataFrame Structure:
               disp_name
npartitions=13
                 float64
                     ...
...                  ...
                     ...
                     ...
Dask Name: replace, 39 tasks

In [ ]:
X.fillna(999)
y.fillna(999)

Dask DataFrame Structure:
               disp_name
npartitions=13
                 float64
                     ...
...                  ...
                     ...
                     ...
Dask Name: fillna, 39 tasks

In [ ]:
X_ = X.to_dask_array(lengths=True).compute()
y_ = y.to_dask_array(lengths=True).compute()

In [ ]:
print(X_)

[[5228.  790.]
 [3627. 2587.]
 [3627. 2587.]
 ...
 [3348. 3214.]
 [3280. 2399.]
 [3734. 4401.]]

In [ ]:
print(y_)

[[42.]
 [42.]
 [42.]
 ...
 [42.]
 [20.]
 [22.]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_, y_, test_size=0.33, random_state=42)

In [ ]:
np.any(np.isnan(X_))

True

In [ ]:
np.all(np.isfinite(X_))

False

In [ ]:
np.any(np.isnan(y_))

False

In [ ]:
np.all(np.isfinite(y_))

True

In [ ]:
X_['purpose_name'].replace([np.inf, -np.inf], np.nan)
X_['purpose_name'].fillna(999)

IndexError: ignored

In [ ]:
np.any(np.isnan(X)).compute()

purpose_name     True
type_name       False
dtype: bool

In [ ]:
X['type_name'].replace([np.inf, -np.inf], np.nan)
X['type_name'].fillna(999)

Dask Series Structure:
npartitions=13
    float64
        ...
     ...
        ...
        ...
Name: type_name, dtype: float64
Dask Name: fillna, 52 tasks

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: ignored

In [ ]:
y_pred = gnb.predict(X_test)

In [ ]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy (in %): ", metrics.accuracy_score(y_test, y_pred)*100)

Using K Clustering

In [105]:
x_k = cases_2010.iloc[:, 11:14]

In [106]:
x_k.head(10)

   type_name  purpose_name  disp_name
0      790.0        5228.0       42.0
1     2587.0        3627.0       42.0
2     2587.0        3627.0       42.0
3     2587.0        3627.0       42.0
4     2587.0        3627.0       42.0
5     1429.0         509.0       25.0
6     1429.0        2237.0       25.0
7     1429.0        3627.0       22.0
8     1429.0        2237.0       25.0
9     1429.0        2237.0       25.0

In [98]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [107]:
wcss = []

for i in range(1,10):
  kmeans = KMeans(n_clusters=i, init='k-means++', n_init=10, max_iter=300, random_state=0)
  kmeans.fit(x_k)
  wcss.append(kmeans.inertia_)

plt.plot(range(1,10), wcss)
plt.title('The Elbow Method Graph')
plt.xlabel('Number of Clusters(k)')
plt.ylabel('wcss_list')
plt.show()

ValueError: ignored