<a href="https://colab.research.google.com/github/Shambhaviiiit/judiciary_data_analysis/blob/main/precog1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls "/content/drive/My Drive/precog/cases/cases"

cases_2010.csv	cases_2011.csv	cases_2012.csv	cases_2013.csv	cases_2015.csv

In [ ]:
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
import numpy as np

In [ ]:
!cd "/content/drive/My Drive/precog"

In [ ]:
!ls

drive  sample_data

In [ ]:
cases_2010 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2010.csv', assume_missing = True, parse_dates=['date_of_filing'])
cases_2011 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2011.csv', assume_missing = True)
cases_2012 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2012.csv', assume_missing = True)
cases_2013 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2013.csv', assume_missing = True)
cases_2015 = dd.read_csv('/content/drive/MyDrive/precog/cases/cases/cases_2015.csv', assume_missing = True)

In [ ]:
from functools import reduce
columns = [set(cases_2010.columns),set(cases_2011.columns),set(cases_2012.columns),set(cases_2013.columns),set(cases_2015.columns)]
common_cols = list(reduce(lambda a, i: a.intersection(i), columns))
common_cols

['date_of_decision',
 'date_first_list',
 'purpose_name',
 'state_code',
 'female_adv_def',
 'date_of_filing',
 'dist_code',
 'female_petitioner',
 'disp_name',
 'court_no',
 'date_next_list',
 'year',
 'cino',
 'ddl_case_id',
 'female_defendant',
 'female_adv_pet',
 'date_last_list',
 'type_name',
 'judge_position']

In [ ]:
cases_2010[common_cols].head()

,date_of_decision,female_adv_pet,ddl_case_id,female_adv_def,date_first_list,disp_name,type_name,date_next_list,purpose_name,female_petitioner,cino,dist_code,date_last_list,state_code,judge_position,year,court_no,date_of_filing,female_defendant
0,2011-06-19,-9998.0,01-01-01-200308002162010,0.0,2011-06-08,42.0,790.0,2011-06-24,5228.0,1 female,MHNB030013812010,1.0,2011-06-20,1.0,chief judicial magistrate,2010.0,1.0,2010-12-13,0 male
1,2010-11-21,0.0,01-01-01-200707000172010,-9999.0,2010-08-06,42.0,2587.0,2010-11-30,3627.0,1 female,MHNB030004552010,1.0,2010-08-06,1.0,chief judicial magistrate,2010.0,1.0,2010-02-25,-9998 unclear
2,2010-11-21,0.0,01-01-01-200707000182010,-9999.0,2010-08-06,42.0,2587.0,2010-11-30,3627.0,-9998 unclear,MHNB030004562010,1.0,2010-08-06,1.0,chief judicial magistrate,2010.0,1.0,2010-02-25,-9998 unclear
3,2010-11-21,0.0,01-01-01-200707000192010,-9999.0,2010-08-06,42.0,2587.0,2010-11-30,3627.0,1 female,MHNB030004582010,1.0,2010-08-06,1.0,chief judicial magistrate,2010.0,1.0,2010-02-25,-9998 unclear
4,2010-11-21,0.0,01-01-01-200707000202010,-9999.0,2010-08-06,42.0,2587.0,2010-11-30,3627.0,-9998 unclear,MHNB030004592010,1.0,2010-08-06,1.0,chief judicial magistrate,2010.0,1.0,2010-02-25,-9998 unclear

In [ ]:
dtypes = dict([(x, np.str) for x in common_cols])
dtypes

<ipython-input-5-f8c8989a1b81>:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtypes = dict([(x, np.str) for x in common_cols])

{'date_of_decision': str,
 'date_first_list': str,
 'purpose_name': str,
 'state_code': str,
 'female_adv_def': str,
 'date_of_filing': str,
 'dist_code': str,
 'female_petitioner': str,
 'disp_name': str,
 'court_no': str,
 'date_next_list': str,
 'year': str,
 'cino': str,
 'ddl_case_id': str,
 'female_defendant': str,
 'female_adv_pet': str,
 'date_last_list': str,
 'type_name': str,
 'judge_position': str}

* time required to conclude cases
* number of hearings for each cases

In [ ]:
with ProgressBar():
  print(cases_2010['judge_position'].unique())

Dask Series Structure:
npartitions=1
    object
       ...
Name: judge_position, dtype: object
Dask Name: unique-agg, 42 tasks

In [ ]:
judges_pret = cases_2010.judge_position.unique()
judges_pret
# judges_pset = set(cases_2010.judge_position)
# len(judges_pset)
jp = len(cases_2010)

Dask Series Structure:
npartitions=1
    object
       ...
Name: judge_position, dtype: object
Dask Name: unique-agg, 42 tasks

In [ ]:
cases_2010.groupby(by="judge_position").mean().compute().year

judge_position
additional district and sessions court           2010.0
chief judicial magistrate                        2010.0
civil court                                      2010.0
civil judge                                      2010.0
civil judge junior division                      2010.0
                                                  ...
special court n.d.p.s, mapusa                    2010.0
special mobile court                             2010.0
spl judges court spe and acb cases karimnagar    2010.0
v addl. cmm                                      2010.0
womens court                                     2010.0
Name: year, Length: 434, dtype: float64

# Analysis on time required to conclude cases
* list of time span for each case to conclude
* cases that haven't been concluded yet will not be included in the total (cleaned for that purpose)
* how many cases per year were filed and concluded within 6 months
* what is the percentage increase in the number of cases solved within 6 months every year, and from 2010 to 2018

In [ ]:
nona_10 = cases_2010
nona_10.dropna
date_filed = nona_10.date_of_filing
date_filed.head()

0   2010-12-13
1   2010-02-25
2   2010-02-25
3   2010-02-25
4   2010-02-25
Name: date_of_filing, dtype: datetime64[ns]

In [ ]:
date_decide = nona_10.date_of_decision
date_decide.head()

0    2011-06-19
1    2010-11-21
2    2010-11-21
3    2010-11-21
4    2010-11-21
Name: date_of_decision, dtype: object

In [ ]:
# date_filed = dd.to_datetime()
# %timeit dd.to_datetime(date_filed).compute()
# date_filed = date_filed.map_partitions(dd.to_datetime,format='%Y/%m/%d',meta = ('datetime64[ns]'))
# type(date_filed.head()[0])

In [ ]:
date_filed.astype('datetime64[ns]').compute()
date_filed

Dask Series Structure:
npartitions=13
    object
       ...
     ...
       ...
       ...
Name: date_of_filing, dtype: object
Dask Name: getitem, 26 tasks

In [ ]:
# date_decide.astype('M8[us]')
# date_decide
%timeit dd.to_datetime(date_decide, infer_datetime_format = True)
date_decide

1.2 ms ± 27 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Dask Series Structure:
npartitions=13
    object
       ...
     ...
       ...
       ...
Name: date_of_decision, dtype: object
Dask Name: getitem, 26 tasks

In [ ]:
%timeit dd.to_datetime(date_decide)
date_decide.head()

1.21 ms ± 29.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

0    2011-06-19
1    2010-11-21
2    2010-11-21
3    2010-11-21
4    2010-11-21
Name: date_of_decision, dtype: object

In [ ]:
date_decide.sub(date_filed).compute()

In [ ]:
days_taken = (date_decide - date_filed).dt.days
print(days_taken.compute())

disp_name.csv
* in year 2010, % cases withdrawn
* how the percentage has changed over years
* mostly case is referred to the lok adalat
* cases that have been referred to lok adalat list - what is type_name
* which court refers to lok adalat the most

cases_district_key.csv
* which state has the least number of female_petitioners
* what type of cases have had a change in judge - how much time have these cases taken to conclude

female petitioners
* 0 - male , 1 - female
*